html
    head
        title ダウンロード｜生産スケジューラと生産計画のフレクシェ
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", type="text/css", href="css/bulma_table.css")
        link(rel="stylesheet", type="text/css", href="common/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="common/css/master.css")
        link(rel="stylesheet", type="text/css", href="common/css/business.css")
        link(rel="stylesheet", type="text/css", href="common/css/product.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
    body(class="col1 contact product")
        div(class="catetit")
          p ダウンロード

        div(class="wrapper clearfix")
          div(class="main")
            div(class="block")
              block content