extends base

block content
  div(class="download-hero full-width")
    ul(class="no-padding download-version-toggle")
      li
        a(class="is-version" href="/")
          div(class="title") FLEXSCHE GP
      li
        a(href="/comm")
          div(class="title") FLEXSCHE Communicator

  p ダウンロードを希望する FLEXSCHE GP のバージョンを選択し、申請画面に進んでください。
  p
    a(href="https://www.flexsche.com/product/environment.html" target="_blank") システム要件についてはこちらのページをご覧ください。

  h2 最新のバージョン
  ul(class="product_menu")
    li(class="concept")
      a(href="http://192.168.1.6:3000/form.html?major=18&minor=00&revision=19")
        span(class="text-center") バージョン 18.00.19
          br
          small （リリース日 2019-10-18）

  h2 リリース一覧（メンテナンス対応バージョン）

  //- ここから
  ul
    li バージョン 18.00
    div(class="table-container")
      table(class="table is-bordered is-striped")
        thead
          tr
            th バージョン
            th リリース日
        tbody
          tr
            td
              a(href="http://192.168.1.6:3000/form.html?major=18&minor=00&revision=19") 18.00.19
            td
              a(href="http://192.168.1.6:3000/form.html?major=18&minor=00&revision=19") 2019-10-18
          tr
              td 18.00.16
              td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX

    li バージョン 17.01
    div(class="table-container")
      table(class="table is-bordered is-striped")
        thead
          tr
            th バージョン
            th リリース日
        tbody
          tr
            td 18.00.19
            td 2019-10-18
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX

    li バージョン 16.01
    div(class="table-container")
      table(class="table is-bordered is-striped")
        thead
          tr
            th バージョン
            th リリース日
        tbody
          tr
            td 18.00.19
            td 2019-10-18
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX
          tr
            td 18.00.16
            td 2019-XX-XX

  //- ここまで
  ul
    li
      a(href="/gp_old_releases") 過去（メンテナンス非対応）のバージョンはこちら
